.div1{
  margin: 10px;
  padding: 6px;
}
.for{
    padding-left: 50px;
}
.ins{
    padding-left: 50px;
}
.lea{
    padding-left: 50px;
}
.go{
    padding-left: 50px;
    color: fuchsia;
}
.dri{
   padding-left: 700px;
    font-family: 'Pacifico', cursive;
    margin-top: -29px;
    font-size: x-large;
}
.log{
    padding-left: 430px;
}
.sign{
    padding-left: 50px;
}
.hire{
    /* padding-left:50px ; */
}
.img{
    width: 70px;
    border-radius: 100px;
   margin-left: 290px;
}
.stu{
    border-radius: 100px;
    width: 30px;
    margin-left: 330px;
    margin-top: -50px;
}
.rite{
    padding-left: 380px;
    margin-top: -100px;
}
.save{
  padding-left: 1009px;
  margin-top: -50px;
}
.like{
    padding-left: 30px;
   
}
.post{
    width: 90%;
    margin-top: 50px;
    padding-left: 100px;
    
}
/* .guy{
    font-size: x-large;
} */
.hello{
    font-size: x-large;
    text-align: center;
}
.gmail{
    color: fuchsia;
}


.border{
    border: 1px blacl solid;
}
.stu2{
    border-radius: 100px;
    width: 80px;
    margin-left: 700px;
    margin-top: -40px;
}
.meet{
    text-align: center;
}
.by{
    padding-left: 130px;
}
.pro{
    color: firebrick;
    text-align: end;
    padding-right: 200px;
    margin-top: -29px;
}
.img2{
    width: 24%;
    height: 180px;
    padding-left: 109px;
    border-radius: 20px;
}
.img3{
    padding-left: 50px;
    border-radius: 20px;
}
.img4{
    padding-left: 50px;
    border-radius: 20px;
}
.img5{
    border-radius: 20px;
    padding-left: 50px;
    height: 170px;
}
.img6{
    width: 80%;
    padding-left: 250px;
}
.img7{
    width: 80%;
    padding-left: 250px;
    height: 250px;
}
.grow{
    color:rgb(238, 237, 240);
    font-size: 50px;
    padding-left: 400px;
    margin-top: -210px;
}
.k{
    padding-left: 690px;
}
.drib{
    font-family: 'Pacifico', cursive;
    font-size: x-large;
    color: crimson;
}
.last{
    padding-left: 100px;
    margin-top: 100px;
}
.li1{
 padding-left: 420px;
 margin-top: -160px;
 list-style: none;
}
.li2{
    padding-left: 610px;
    margin-top: -340px;
    list-style: none;
}
.li3{
    padding-left: 810px;
    margin-top: -315px;
    list-style: none;
}
.li4{
    padding-left: 990px;
    margin-top: -482px;
    list-style: none;
}
.li5{
    padding-left: 1200px;
    margin-top: -335px;
    list-style: none;
}
.li6{
    margin-top: -95px;
    padding-left: 990px;
    list-style: none;
}
.right{
padding-left: 50px;
}
.left{
    padding-left: 1200px;
    margin-top: -40px;
}
